@import "tailwindcss";
@layer components {
  .input {
    @apply w-full px-4 py-2 rounded-md
    border border-gray-300 dark:border-gray-600
    bg-white dark:bg-gray-800
    text-gray-800 dark:text-white
    focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
}